.allChecked {
  display: flex;
  align-items: center;
  margin: 10px;
}

.allChecked input[type="checkbox"] {
  margin: 0;
}

.allChecked input[type="checkbox"].on + label {
  color: #632beb;
}

.allChecked label {
  cursor: pointer;
  color: #bdbdbd;
  padding-left: 16px;
}

.checkboxs {
  display: flex;
  align-items: center;
  margin: 10px;
}

.checkboxs input[type="checkbox"] {
  margin: 0;
}

.checkboxs input[type="checkbox"].on + label {
  color: #632beb;
}

.checkboxs label {
  padding-left: 16px;
  cursor: pointer;
  color: #bdbdbd;
}
